<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>日報管理システム</title>
<link rel="stylesheet" th:href="@{/css/employee/list.css}">
</head>
<header>
	　<table>
		<tr>
			<th>日報管理システム</th>
			<th><a th:href="@{/employee/list}" >従業員管理</a></th>
			<td><a th:href="@{/report/list}" >日報管理</a>
			</td>
			<th>	<form method="post" th:action="@{/logout}">
		<input type="submit" value="ログアウト">
	</form></th>
	</table>
</header>
<body>
	<h1>id:<input type="hidden" id="id" name="id" th:value="*{id}" th:text="*{id}">の従業員情報　詳細ページ</h1>
	<form method="post" th:action="@{/logout}">
		<input type="submit" value="ログアウト">
	</form>
	<br>
<body>
	<form method="post" action="/employee/detail">
		<table th:object="${employee}">
			<tr>
				<th>社員番号</th>
				<td th:text="${employee.authentication.code}"></td>
			</tr>
			<tr>
				<th>氏名</th>
				<td th:text="${employee.name}"></td>
			</tr>
				<tr>
				<th>権限</th>
				<td th:text="${employee.authentication.role}"></td>
			</tr>
			<tr>
				<th>登録日時</th>
				<td
					th:text="${#temporals.format(employee.updatedAt, 'yyyy/MM/dd HH:mm:ss')}"></td>
			</tr>
			<tr>
				<th>更新日時</th>
				<td
					th:text="${#temporals.format(employee.createdAt, 'yyyy/MM/dd HH:mm:ss')}"></td>
			</tr>
		</table>
	</form>
	<a th:href="@{/employee/update/{id}/(id=${employee.id})}">更新</a>
</body>
<script th:src="@{/js/employee/list.js}"></script>
</body>
</html>