<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>日報管理システム</title>
<link rel="stylesheet" th:href="@{/css/employee/list.css}">
</head>
<body>
	<h1>従業員情報</h1>
	<h2>一覧</h2>
	<a th:href="@{/employee/register}">登録</a>
	<table>
		<tr>
			<th>ID</th>
			<th>氏名</th>
			<th>登録日時</th>
			<th>更新日時</th>
			<th>削除フラグ</th>
			<th></th>
		</tr>
		<tr th:each="employee : ${employeelist}">
			<td th:text="${employee.id}"></td>
			<td th:text="${employee.name}"></td>
			<td th:text="${#temporals.format(employee.updatedAt, 'yyyy/MM/dd HH:mm:ss')}"></td>
			<td th:text="${#temporals.format(employee.createdAt, 'yyyy/MM/dd HH:mm:ss')}"></td>
			<td th:text="${employee.deleteFlag}"></td>
			<td><a th:href="@{/employee/update/{id}/(id=${employee.id})}">更新</a>
			</td>
		</tr>
	</table>
</body>
</html>
</body>
</html>